body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

header {
  height: 69px;
  width: 100vw;
  background-color: #ec362d;
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.container {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 69px;
  left: 0;
  overflow-y: auto;

  display: flex;
  justify-content: center;
}

.screen-one {
  padding: 31px 20px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.user-quizzes {
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}

.top {
  display: flex;
}

.top img {
  cursor: pointer;
  margin-left: 9px;

  width: 22px;
  height: 22px;
}

.create-quizz {
  height: 181px;
  width: 80%;
  margin-top: 70px;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 20px;
}

h1 {
  font-size: 20px;
  color: #b9b9b9;
  margin-bottom: 22px;
  text-align: center;
}

.create-quizz button {
  height: 40px;
  width: 151px;
  color: #ec362d;
  font-size: 21px;
  background-color: transparent;
  border-radius: 50px;
  border: 1px dashed #ec362d;
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.create-quizz button:hover {
  color: #fff;
  background-color: #ed362d;
}

.all-quizzes {
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.quizzes-list {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
}

.quizzes-list:hover {
  filter: brightness(0.9);
}

.quizzes-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quizzes-list .title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px;
  color: #fff;
  font-size: 19px;
  word-break: break-all;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%);
}

.quiz-open .quiz-header {
  width: 100%;
  height: 227px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url(https://static.mundoeducacao.uol.com.br/mundoeducacao/2021/07/pes-com-chuteiras-disputando-por-bola-em-campo-de-futebol.jpg);

  position: fixed;
  top: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-open .quiz-header p {
  font-family: 'Roboto';
  font-size: 39px;
  font-weight: 400;
  color: #FFFFFF;
}

article .quiz-body {
  margin-top: 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-questionbox {
  width: 759px;
  height: 676px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 2%;
}

.quiz-questionbox .quiz-questiontext {
  width: 688.16px;
  height: 137.99px;
  background: #434CA0;
  font-weight: 700;
  font-size: 23px;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-questionbox .quiz-answeroptions {
  display: flex;
  justify-content: space-between;
}

.quiz-questionbox .answer-option {
  margin-top: 20px;
}

.quiz-questionbox .answer-img {
  width: 329.91px;
  height: 175.2px;
}

.answer-option span {
  margin-top: 8px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;

  display: flex;
  align-items: center;
}

.your-quiz, .your-quiz-level, .your-quiz-question{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1500px;

}

.your-quiz-basic-info, .input{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.your-quiz-basic-info p{
  font-weight: 700;
  font-size: 20px;
  margin-top: 37px;
  margin-bottom: 50px;
  color: #000000;


}
.your-quiz-basic-info input{
  font-size: 19px ;
  font-weight: 400;
  font-style: italic;
  border: 1px solid #BABABA;
  border-radius: 5px;
  margin: 5px 0;
  width: 341px ;
  height: 46px;
  

}

.your-quiz-basic-info button:hover, .your-quiz-level button:hover, 
.your-quiz-question button:hover, #question-icon{
  cursor: pointer;
  transform: scale(1.01);
}


.your-quiz-level p{
  font-weight: 700;
  font-size: 20px;
  margin-top: 37px;
  margin-bottom: 50px;
  color: #000000;


}
.your-quiz-level input{
  font-size: 19px ;
  font-weight: 400;
  font-style: italic;
  border: 1px solid #BABABA;
  border-radius: 5px;
  margin: 5px 0;
  width: 341px ;
  height: 46px;
  

}
.your-quiz-level button, .your-quiz-basic-info button, .your-quiz-question button{
  width: 323px;
  height: 54px;
  font-size: 18px;
  color: #FFF5F4;
  background-color: #ec362d;
  border: 1px solid #ffffff;
  border-radius: 15px;
  margin-top:50px ;
  
}


.your-quiz-level span{
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-top: 20px;

}

.hidden {
  display: none !important;
}


.your-quiz-question-container{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 (0,0,0,0.05); 

}


.your-quiz-question p{
  font-weight: 700;
  font-size: 20px;
  margin-top: 37px;
  margin-bottom: 50px;
  color: #000000;


}
.your-quiz-question input{
  font-size: 19px ;
  font-weight: 400;
  font-style: italic;
  border: 1px solid #BABABA;
  border-radius: 5px;
  margin: 5px 0;
  width: 341px ;
  height: 46px;
  

}


.your-quiz-question span{
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;


}

.your-quiz-question img{
  display: flex;
  width: 26px;
  height: 26px;
}


